body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

header {
  width: 99pc;
  background-color: darkblue;
  padding: 10px;
}

h1, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-top: 20px;
}

.mb-3 {
  width: 50pc;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100px;
}

td {
  vertical-align: middle;
}